
joc computer vision aventure/Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/Editor/PixelPerfectCameraEditor.cs.meta
joc computer vision aventure/Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/Editor/PixelPerfectCameraEditor.cs.meta
joc computer vision aventure/Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/Editor/Unity.2D.PixelPerfect.Editor.asmdef
joc computer vision aventure/Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/Editor/Unity.2D.PixelPerfect.Editor.asmdef.meta
joc computer vision aventure/Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/LICENSE.md.meta
joc computer vision aventure/Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/Samples~/Scenes and Extras/Scenes.meta
joc computer vision aventure/Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/Samples~/Scenes and Extras/Scenes/_Scenes.meta
joc computer vision aventure/Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/Samples~/Scenes and Extras/Scenes/Presets/Pixel Perfect Cameras/PixelPerfectCamera_16PPU_320x240_Pixel Snapped.preset
joc computer vision aventure/Library/PackageCache/com.unity.2d.pixel-perfect@2.0.4/Samples~/Scenes and Extras/Scenes/Presets/Pixel Perfect Cameras/PixelPerfectCamera_16PPU_320x240_Pixel Snapped.preset
